@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");

$main-color: #3c2f2f;
$accent-color-light: #fff4e6;
$accent-color-dark: #854442;

// h1 {
//       color: tomato;
//     }
body {
      background: $accent-color-light;
      color: #000;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      margin: 70px 0;
    }

    .chatbar {
      background: $main-color;
      border-top: 1px solid $accent-color-dark;
      bottom: 0;
      display: flex;
      left: 0;
      padding: 5px;
      position: fixed;
      right: 0;
    }

    .chatbarMessage,
    .chatbarUsername {
      border: 1px solid $accent-color-dark;
      display: block;
      height: 40px;
      line-height: 40px;
      margin: 5px;
      padding: 0 9px;
    }

    .chatbarMessage {
      flex: 8;
    }

    .chatbarUsername {
      flex: 2;
    }

    .message {
      display: flex;
      padding: 5px;
    }

    // .messages {
    //   background-color: white;
    // }

    .message.system {
      font-style: italic;
      padding: 5px 20px;
    }

    .message-content,
    .message-username {
      overflow: hidden;
      margin: 5px;
      padding: 0 10px;
    }

    .message-content {
      flex: 8;
    }

    .message-username {
      flex: 2;
      font-weight: 700;
    }

    .navbar {
      color: $accent-color-light;
      background: $main-color;
      border-bottom: 1px solid $accent-color-dark;
      height: 60px;
      left: 0;
      padding: 0 10px;
      position: fixed;
      right: 0;
      top: 0;

      .navbar-brand {
        display: block;
        float: left;
        font-weight: 700;
        font-size: 28px;
        height: 60px;
        line-height: 60px;
        padding: 0 10px;
        text-decoration: none;
      }

      .onlineCount {
        float: right;
        padding-right: 5px;
        padding-top: 9px;
      }

      a:visited {
        color: $accent-color-light ;
      }

      .logo{
        float: right;
      }
    }
